.pet-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.pet-list > .pet {
  flex: 1 200px;
  max-width: 200px;
  margin: 24px;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 12px;
  align-items: center;
  text-align: center;
}

.pet-list > .pet > img{
  width: 100%;
}

.action-list {
  width: calc(100% - 48px);
  background-color: white;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 0 24px 56px 24px;
}
@media screen and (min-width: 768px) {
  .action-list {
    grid-template-columns: 1fr 1fr;
  }
}

.action-list > .action {
  padding: 24px;
}

.action-list > .action.find {
  background-color: #ebf3fb;
}
.action-list > .action.add {
  background-color: #e8f6f0;
}
.action-list > .action.remove {
  background-color: #fbe7e7;
}
.action-list > .action.update {
  background-color: #fbf1e6;
}
